<!DOCTYPE html>
<html>
<head>
  <title>Movie DB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if params[:title].present? %>
      <h3>Results for <%= params[:title] %>:</h3>
    <% else %>
      <h3>Popular Movies</h3>
    <% end %>
      <div class="collection">
      <% @movies.each do |m| %>
        <%= link_to(m[:title], movie_path(m[:id]), class: "collection-item") %>
      <% end %>
      </div>
      <p>Search movies by title:</p>
      <form action="/" method="get">
        <input name="title" placeholder="Citizen Kane" type="text"/><input value="Search " class="btn" type="submit"></input>
      </form>

</body>
</html>
