<!DOCTYPE html>
<html>
<head>
  <title>Movie DB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="container">
    <% if params[:title].present? %>
      <h1>Results for <%= params[:title] %>:</h1>
    <% else %>
      <h1>Popular Movies</h1>
    <% end %>
      <% @movies.each do |m| %>
        <p> <%= link_to(m[:title], movie_path(m[:id])) %></p>
      <% end %>
      <form action="/" method="get">
        <input name="title" type="text"/><input value="Search Movies" type="submit"></input>
      </form>
  <div>
  <div id="search-form"></div>
</body>
</html>
