<div class="row">
    <div class="col s12 m12 l8">
      <div class="card-panel">
        <p>
          <%= @title %>
        </p>
        <p>
          Tagline: <%= @tagline %>
        </p>
        <p>
          Overview: <%= @overview %>
        </p>
        <p>
          Genres: <%= @genres %>
        </p>
        <p>
          Release date: <%= @release_date %>
        </p>
        <p>
          Production companies: <%= @production_companies %>
        </p>
        <p>
          Revenue: <%= number_to_currency @revenue %>
        </p>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <img id="movie-poster" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/<%= @poster_path %>"/>
    </div>
  </div>
